/* Nav.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 1rem;
  height: 100px;
  position: relative;
}

.nav-icon {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  transition: max-height 0.3s ease-in-out;
  z-index: 100;
}

.nav-links li {
  margin-left: 1rem;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  color: white;
  background-color: #555;
  border-radius: 4px;
}

.mobile-menu-button {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    background-color: black;
    max-height: 0;
    overflow: hidden;
  }

  .nav-links.open {
    max-height: 500px; 
  }

  .nav-links li {
    margin: 0;
  }

  .mobile-menu-button {
    display: block;
  }
}
