*{
  margin:0;
  padding:0;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
   padding: 2rem;
  text-align: center;
}
  
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */

.App {
  display: flex;
  /* height: 100vh; */
  position: relative;
  width: 100vw;
}

.sidebar {
  width: 15%; /* Initial width */
  background-color: #f4f4f4;
  border-right: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
  resize: horizontal;
  max-width: 35%; /* Maximum width */
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.resizer {
   width: 5px;
  /* background: #000; */
  cursor: ew-resize;
  position: relative;
  z-index: 1; 
}


